#main_box{
    background: white;
    width: 1000px;
    height: 650px;
    margin-left: 446px;
    border: 1px dotted black;
}
.main_box p{
	font-size: 36px;
	font-family: "Nanum Pen Script", cursive;
}
.select_menu{
    position: absolute;
    top: 350px;
    left: 700px;
    width: 700px;
    height: 160px;
    display: flex;
    padding-top: 20px;
}


.select_menu div{
	width: 170px;
    cursor: pointer;
    height: 130px;
    padding-top: 20px;
}
.select_menu p{
	font-size: 26px;
}
.review_box{
	margin: 0px 105px 0 130px;
}
.review_box p{
	margin-left: 40px;
}
.select_menu .fas {
	margin-left:34px;  
 } 

.fas:hover{
	 color: #D8CEF6; 
}
.logo{
    margin-top: 575px;
    margin-left: -59px;
    width: 1120px;
    display: flex;
	
}
.logo_c{
	margin-left:300px;
}
.logo_m{
	margin: 0 40px;
}